:root {
  --primary-color: #15a6e9;
}

/* scrollbar styling */

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}
::-webkit-scrollbar-track {
  background: #111;
}
::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #333;
}

.music-container-body {
  /* margin-top: 10; */
  /* box-sizing: border-box; */
  min-height: 50vh;
  color: black;
  display: flex;
  justify-content: center;
  /* background-color: var(--primary-color); */
  /* padding: 100; */
}

.music-container {
  /* margin: 10; */
  height: 650px;
  width: 366px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  background-color: whitesmoke;
  box-shadow: 0px 4px 15px;
  display: flex;
  /* align-items: center; */
  justify-content: center;
}

i {
  cursor: pointer;
  transition: all 0.3s;
}

/* .mu-container {
  padding-top: 100;
} */

i:hover {
  color: #106f9b;
}

i:active {
  color: var(--primary-color);
}

.player-top {
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  font-size: 16px;
  z-index: 10;
  /* background-color: black; */
  /* color: #111; */
}

.music-container.active .player-top {
  color: #111;
  /* background-color: black; */
}

.cover-image {
  width: 100%;
  height: 366px;
  position: absolute;
  top: 0;
  left: 0;
  background: url('resources/noun-music-7282489.png') no-repeat;
  background-size: 80%;
  background-position: center;
  transform-origin: 0% 0%;
  transition: all 0.3s ease-in;
}

.music-container.active .cover-image {
  transform: scale(0.251);
  left: 23px;
  top: 60px;
  border-radius: 20px;
}

.player-body {
  position: absolute;
  top: 366px;
  left: 0;
  height: 286px;
  width: 100%;
  background-color: #111;
  transition: all 0.3s;
  /* color: white; */
}

.music-container.active .player-body {
  height: 470px;
  left: 0;
  top: 180px;
}

.list-wrapper {
  height: 425px;
  width: 100%;
  overflow: auto;
  position: absolute;
  top: 378px;
  transform-origin: 0% 0%;
  transition: all 0.3s;
  opacity: 0;
  visibility: hidden;
  transform: scale(0.1);
}

.music-container.active .list-wrapper {
  top: 182px;
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}

.list {
  width: 100%;
  border-spacing: 0px 2px;
  color: whitesmoke;
}

.list tr {
  height: 50px;
  text-align: center;
  background-color: #1d1d1d;
  text-indent: 8px;
  transform-origin: 0% 50%;
}

.list tr:hover {
  background-color: #222;
  cursor: pointer;
}

.list .title {
  width: 215px;
  text-align: left;
  text-indent: 15px;
  transition: all 0.3s;
}

.list tr:hover .title {
  padding-left: 5px;
  width: 210px;
}

.current-song-title {
  position: absolute;
  right: 23px;
  font-size: 14px;
  bottom: -60px;
  transition: all 0.3s;
}

.music-container.active .current-song-title {
  bottom: 10px;
}

.info {
  position: absolute;
  left: 50%;
  top: 440px;
  transform: translateX(-50%);
  text-align: center;
  transition: all 0.3s;
}

.info h2 {
  font-size: 16px;
  margin-bottom: 5px;
  color: rgb(125, 166, 228);
  /* shouldn't have to specify this color here: figure out why it isn't showing the right color when inactive */
}

.info h3 {
  font-size: 10px;
  color: #a4a0a0;
}

.music-container.active .info {
  top: 66px;
  left: 126px;
  text-align: left;
  transform: translateX(0);
  color: #111;
}

.controls {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  width: 100%;
  height: 35px;
  position: absolute;
  bottom: 100px;
  z-index: 10;
  transition: all 0l3s;
  color: rgb(125, 166, 228);
  /* shouldn't have to specify this color here: figure out why it isn't showing the right color when inactive */
}

.time {
  color: rgb(125, 166, 228);
  /* shouldn't have to specify this color here: figure out why it isn't showing the right color when inactive */
}

.controls #playpause {
  font-size: 40px;
}

.music-container.active .controls {
  position: absolute;
  width: 216px;
  bottom: 4px;
  left: -44px;
  transform: scale(0.45);
}

.more-controls {
  color: #6d6d6d;
  font-size: 15px;
  height: 45px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  position: absolute;
  bottom: 10px;
  left: 0;
  z-index: 20;
  transition: all 0.3s;
}

.music-container.active .more-controls {
  bottom: -60px;
}

.bar {
  position: absolute;
  width: 320px;
  height: 2px;
  top: 580px;
  left: 23px;
  cursor: pointer;
  transform-origin: 0% 0%;
  background-color: #fff;
  transition: all 0.3s;
}

.music-container.active .bar {
  top: 119px;
  left: 126px;
  color: #111;
  background-color: #111;
  transform: scale(0.6875);
}

.bar .dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--primary-color);
  position: absolute;
  top: -4px;
  left: 0;
  user-select: none;
  pointer-events: none;
  transform-origin: all 0.3s;
}

.bar .time .current-time {
  font-size: 15px;
}

.bar .time .duration {
  font-size: 15px;
}

.bar .time {
  width: 100%;
  font-size: 15px;
  position: absolute;
  top: -20px;
  left: 0;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.3s;
}
